.flyout {
  position: fixed;
  width: 300px;
  left: calc(50% - 150px);
  bottom: 10px;
  background-color: #222222;
  color: white;
  padding: 15px;
}

.flyout__title {
  text-align: center;
  margin-top: 0;
}

.flyout__buttons {
  display: flex;
  justify-content: space-between;
}

.light {
  .flyout {
    background-color: white;
    color: black;
  }

  button {
    background-color: #cac7c7;
  }
}
